Node red
[{"id":"8796837d.b2a23","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"660be972.adb718","type":"inject","z":"8796837d.b2a23","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["2fb86e10.763e92","a60c90a3.c96bc"]]},{"id":"a60c90a3.c96bc","type":"http request","z":"8796837d.b2a23","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/weather?q=Valkeakoski,fi&units=metric&appid=51da5856a3cb31c11445454beb6679fe","tls":"","proxy":"","authType":"","x":350,"y":180,"wires":[["85088d2.81dd27","4348e921.ce99c8","7d79ad03.990bb4","b57b8ed7.30915","d92903cd.9449f"]]},{"id":"7b4478e7.9910d8","type":"debug","z":"8796837d.b2a23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":180,"wires":[]},{"id":"a5ee3249.110c8","type":"change","z":"8796837d.b2a23","name":"","rules":[{"t":"set","p":"this_time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":60,"wires":[["85c1b7bf.b3e558"]]},{"id":"85c1b7bf.b3e558","type":"debug","z":"8796837d.b2a23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":60,"wires":[]},{"id":"a93f999b.2da768","type":"inject","z":"8796837d.b2a23","name":"Current time","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["a5ee3249.110c8"]]},{"id":"59d90a74.ccda04","type":"function","z":"8796837d.b2a23","name":"","func":"//var srise = msg.payload.sys.sunrise;\n//var sset = msg.payload.sys.sunset;\n//var current =flow.get(\"this_time\")/1000;\nglobal.set(\"mem\",0);\n\n/*if (current >= srise && current <= sset){\n    global.set(\"signal\",1);\n    //global.set(\"auto\",1);\n}\nelse{\n    global.set(\"signal\",2);\n    //global.set(\"auto\",2);\n}*/\nmsg.payload = global.get(\"mem\");\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["24421c63.70de64"]]},{"id":"747351a.d2c5cb","type":"inject","z":"8796837d.b2a23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["1319251e.5c7a2b"]]},{"id":"1319251e.5c7a2b","type":"ui_button","z":"8796837d.b2a23","name":"","group":"8a4d6729.c27608","order":4,"width":0,"height":0,"passthru":true,"label":"Auto","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"date","topic":"","x":250,"y":280,"wires":[["a60c90a3.c96bc","59d90a74.ccda04","2fb86e10.763e92","895a259e.475468"]]},{"id":"e3aed50d.61a728","type":"ui_text","z":"8796837d.b2a23","group":"8a4d6729.c27608","order":1,"width":0,"height":0,"name":"","label":"Curtain state","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":440,"wires":[]},{"id":"61acdb03.d28854","type":"inject","z":"8796837d.b2a23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["d79ddcd4.9e0fb"]]},{"id":"d79ddcd4.9e0fb","type":"ui_button","z":"8796837d.b2a23","name":"","group":"8a4d6729.c27608","order":5,"width":0,"height":0,"passthru":true,"label":"Manual","tooltip":"","color":"","bgcolor":"","icon":"touch_app","payload":"","payloadType":"str","topic":"","x":270,"y":340,"wires":[["fc86e00f.ab20b","a60c90a3.c96bc","2fb86e10.763e92","895a259e.475468"]]},{"id":"fc86e00f.ab20b","type":"function","z":"8796837d.b2a23","name":"mem = 1, invert signal","func":"global.set(\"mem\",1);\nvar num = global.get(\"signal\");\nnum = -num;\nglobal.set(\"signal\",num);\nmsg.payload = global.get(\"signal\");\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["7bc8c883.60b9e8"]]},{"id":"9d72a6e4.b3b658","type":"debug","z":"8796837d.b2a23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":480,"wires":[]},{"id":"8f9cfc2e.94de2","type":"function","z":"8796837d.b2a23","name":"send cond","func":"var current = global.get(\"co\");\n\nif (current - global.get(\"previous\") >= global.get(\"interval\")){\n    global.set(\"previous\",current);\n    if (global.get(\"send\") === 1){\n          msg.payload = global.get(\"condition\");\n          return msg;\n    }\n    else{\n        return null;\n    }\n}\n\nelse{\n    return null;\n}\n    \nreturn null;","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["61201d6.49411e4","66ca5a98.ad2fb4"]]},{"id":"85088d2.81dd27","type":"function","z":"8796837d.b2a23","name":"","func":"var srise = msg.payload.sys.sunrise;\nvar sset = msg.payload.sys.sunset;\nvar current =flow.get(\"this_time\")/1000;//current time\nmsg.payload.time = current;\nvar memu = global.get(\"mem\");\n// Open 1\nif (current >= srise && current <= sset && memu === 0){\n    msg.payload = 1;\n    global.set(\"signal\",1);//Initially set here so that the curtain knows to open or close when it is set to manual mode\n    global.set(\"condition\",1);\n    //msg.signal = global.get(\"signal\");\n    //msg.condition = global.get(\"condition\");\n}\n// Close 1\nelse if (global.get(\"signal\") === -1 && memu === 1){\n    msg.payload = 2;\n    global.set(\"condition\",2);\n}\n//Close 2\nelse if ((current < srise || current > sset) && memu === 0){\n    msg.payload = 2;\n    global.set(\"signal\",-1);\n    global.set(\"condition\",2);\n}\n//Open 2\nelse if (global.get(\"signal\") === 1 && memu === 1){\n    msg.payload = 1;\n    global.set(\"condition\",1);\n}\n//DO nothing\nelse{\n    msg.payload = 0;\n    global.set(\"condition\",0);\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":180,"wires":[["7b4478e7.9910d8","66ca5a98.ad2fb4"]]},{"id":"24421c63.70de64","type":"debug","z":"8796837d.b2a23","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":580,"y":280,"wires":[]},{"id":"7bc8c883.60b9e8","type":"debug","z":"8796837d.b2a23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":400,"wires":[]},{"id":"1b27e28a.9a50dd","type":"inject","z":"8796837d.b2a23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["5d2cbde9.372de4"]]},{"id":"5d2cbde9.372de4","type":"ui_button","z":"8796837d.b2a23","name":"","group":"8a4d6729.c27608","order":3,"width":0,"height":0,"passthru":true,"label":"Enable/Reset","tooltip":"","color":"","bgcolor":"#87A980","icon":"settings_backup_restore","payload":"","payloadType":"str","topic":"","x":290,"y":400,"wires":[["34b1e3f1.fe5a4c","a60c90a3.c96bc"]]},{"id":"34b1e3f1.fe5a4c","type":"function","z":"8796837d.b2a23","name":"","func":"global.set(\"mem\",2);\nglobal.set(\"send\",0);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["895a259e.475468"]]},{"id":"2fb86e10.763e92","type":"function","z":"8796837d.b2a23","name":"send = 1","func":"global.set(\"send\",1);\n","outputs":1,"noerr":0,"x":520,"y":100,"wires":[[]]},{"id":"98bfdd38.333b7","type":"inject","z":"8796837d.b2a23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":680,"wires":[["6d9e38a4.871478"]]},{"id":"6d9e38a4.871478","type":"ui_button","z":"8796837d.b2a23","name":"","group":"f55dc025.59ae1","order":3,"width":0,"height":0,"passthru":true,"label":"Enable/Reset","tooltip":"","color":"","bgcolor":"#87A980","icon":"settings_backup_restore","payload":"","payloadType":"str","topic":"","x":310,"y":680,"wires":[["40cc0d1a.46f864","87628927.95a9f8"]]},{"id":"40cc0d1a.46f864","type":"function","z":"8796837d.b2a23","name":"","func":"global.set(\"interval\",5);\nglobal.set(\"previous\",0);\nglobal.set(\"co\",-1);","outputs":1,"noerr":0,"x":510,"y":680,"wires":[[]]},{"id":"195d9d39.93edf3","type":"inject","z":"8796837d.b2a23","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["87628927.95a9f8","8f9cfc2e.94de2"]]},{"id":"87628927.95a9f8","type":"function","z":"8796837d.b2a23","name":"add co +1 and send","func":"var counter = global.get(\"co\");\ncounter = counter + 1;\nglobal.set(\"co\",counter);\nmsg.payload = counter;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["b6d4c66e.c54cb8"]]},{"id":"b6d4c66e.c54cb8","type":"ui_text","z":"8796837d.b2a23","group":"f55dc025.59ae1","order":1,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":620,"wires":[]},{"id":"61201d6.49411e4","type":"debug","z":"8796837d.b2a23","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":540,"wires":[]},{"id":"e407799f.1d5028","type":"function","z":"8796837d.b2a23","name":"send = 0","func":"global.set(\"send\",0);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":440,"wires":[["895a259e.475468"]]},{"id":"4058e239.2f14dc","type":"inject","z":"8796837d.b2a23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["b8eb2f7b.eb7c7"]]},{"id":"b8eb2f7b.eb7c7","type":"ui_button","z":"8796837d.b2a23","name":"","group":"f55dc025.59ae1","order":4,"width":0,"height":0,"passthru":true,"label":"Malfunction","tooltip":"","color":"","bgcolor":"#E9967A","icon":"error","payload":"","payloadType":"str","topic":"","x":270,"y":100,"wires":[["2fb86e10.763e92","895a259e.475468","94813bb.54549c8"]]},{"id":"d3963e13.b41a1","type":"inject","z":"8796837d.b2a23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":720,"wires":[["d47ede0c.e3602"]]},{"id":"d47ede0c.e3602","type":"ui_button","z":"8796837d.b2a23","name":"","group":"f55dc025.59ae1","order":5,"width":0,"height":0,"passthru":true,"label":"HEAL","tooltip":"","color":"","bgcolor":"#C0DEED","icon":"local_pharmacy","payload":"","payloadType":"str","topic":"","x":290,"y":720,"wires":[["6188cd09.b90244","895a259e.475468"]]},{"id":"6188cd09.b90244","type":"function","z":"8796837d.b2a23","name":"","func":"global.set(\"send\",0);","outputs":1,"noerr":0,"x":510,"y":720,"wires":[[]]},{"id":"895a259e.475468","type":"function","z":"8796837d.b2a23","name":"Send out","func":"msg.payload = global.get(\"send\");\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":780,"wires":[["2fcbd62f.d596ba"]]},{"id":"66581d8e.9c4394","type":"inject","z":"8796837d.b2a23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":130,"y":860,"wires":[["ef0bc7a2.35dc88"]]},{"id":"d0025998.2b7b08","type":"http request","z":"8796837d.b2a23","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/weather?q=Valkeakoski,fi&units=metric&appid=51da5856a3cb31c11445454beb6679fe","tls":"","proxy":"","authType":"","x":470,"y":860,"wires":[["efe3911a.b5394","136b2ed5.2b9d11","68bceb8b.fd0db4","fc40e651.0989f8","c6d09853.92c108","cc05b8d0.09c4a8","b57b8ed7.30915"]]},{"id":"ef0bc7a2.35dc88","type":"ui_button","z":"8796837d.b2a23","name":"","group":"535637b9.831418","order":7,"width":0,"height":0,"passthru":true,"label":"Update","tooltip":"","color":"","bgcolor":"#87A980","icon":"update","payload":"","payloadType":"str","topic":"","x":300,"y":860,"wires":[["d0025998.2b7b08"]]},{"id":"efe3911a.b5394","type":"change","z":"8796837d.b2a23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":860,"wires":[["a561089d.3c6dd8"]]},{"id":"136b2ed5.2b9d11","type":"change","z":"8796837d.b2a23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sys.sunrise","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":900,"wires":[["cf563e73.1601d"]]},{"id":"68bceb8b.fd0db4","type":"change","z":"8796837d.b2a23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sys.sunset","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":940,"wires":[["2d49553f.19cdea"]]},{"id":"cf563e73.1601d","type":"function","z":"8796837d.b2a23","name":"","func":"var unix = msg.payload;\n\n// multiplied by 1000 so that the argument is in milliseconds, not seconds.\nvar date = new Date(unix*1000);\n\n// Hours part from the timestamp\nvar hours = date.getHours();\n\n// Minutes part from the timestamp\nvar minutes = \"0\" + date.getMinutes();\n\n// Seconds part from the timestamp\nvar seconds = \"0\" + date.getSeconds();\n\n// Will display time in 10:30:23 format\nvar sunrise = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\nmsg.payload = sunrise;\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":900,"wires":[["6049a929.6ac088"]]},{"id":"6049a929.6ac088","type":"ui_text","z":"8796837d.b2a23","group":"535637b9.831418","order":2,"width":0,"height":0,"name":"","label":"Sunrise","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":900,"wires":[]},{"id":"2d49553f.19cdea","type":"function","z":"8796837d.b2a23","name":"","func":"var unix = msg.payload;\n\n// multiplied by 1000 so that the argument is in milliseconds, not seconds.\nvar date = new Date(unix*1000);\n\n// Hours part from the timestamp\nvar hours = date.getHours();\n\n// Minutes part from the timestamp\nvar minutes = \"0\" + date.getMinutes();\n\n// Seconds part from the timestamp\nvar seconds = \"0\" + date.getSeconds();\n\n// Will display time in 10:30:23 format\nvar sunset = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\nmsg.payload = sunset;\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":940,"wires":[["d84e43c5.7de3"]]},{"id":"d84e43c5.7de3","type":"ui_text","z":"8796837d.b2a23","group":"535637b9.831418","order":3,"width":0,"height":0,"name":"","label":"Sunset","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":940,"wires":[]},{"id":"a561089d.3c6dd8","type":"ui_text","z":"8796837d.b2a23","group":"535637b9.831418","order":1,"width":0,"height":0,"name":"","label":"City","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":860,"wires":[]},{"id":"fc40e651.0989f8","type":"change","z":"8796837d.b2a23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":740,"wires":[["4e1808f9.997bd8"]]},{"id":"4e1808f9.997bd8","type":"ui_gauge","z":"8796837d.b2a23","name":"","group":"535637b9.831418","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature ","label":"oC","format":"{{value}}","min":"-35","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":740,"wires":[]},{"id":"c6d09853.92c108","type":"change","z":"8796837d.b2a23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":680,"wires":[["deb4ff9a.89823"]]},{"id":"deb4ff9a.89823","type":"ui_gauge","z":"8796837d.b2a23","name":"","group":"535637b9.831418","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":920,"y":680,"wires":[]},{"id":"2fcbd62f.d596ba","type":"ui_gauge","z":"8796837d.b2a23","name":"","group":"f55dc025.59ae1","order":2,"width":0,"height":0,"gtype":"gage","title":"Send","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":760,"wires":[]},{"id":"84a34e8b.1cbd6","type":"ui_chart","z":"8796837d.b2a23","name":"","group":"535637b9.831418","order":6,"width":0,"height":0,"label":"Wind speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":800,"wires":[[]]},{"id":"cc05b8d0.09c4a8","type":"change","z":"8796837d.b2a23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":800,"wires":[["84a34e8b.1cbd6"]]},{"id":"4348e921.ce99c8","type":"change","z":"8796837d.b2a23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":240,"wires":[["84a34e8b.1cbd6"]]},{"id":"94813bb.54549c8","type":"function","z":"8796837d.b2a23","name":"cond = 5","func":"global.set(\"condition\",5);\n","outputs":1,"noerr":0,"x":520,"y":140,"wires":[[]]},{"id":"7d79ad03.990bb4","type":"change","z":"8796837d.b2a23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":300,"wires":[["4e1808f9.997bd8"]]},{"id":"b57b8ed7.30915","type":"function","z":"8796837d.b2a23","name":"","func":"var temp = msg.payload.main.temp;\nvar wind = msg.payload.wind.speed;\nif (temp < 5 || (wind > 20 && temp < 10) || wind > 25){\n    msg.payload = \"Window should be closed!\";\n}  \nelse if (temp > 20){\n    msg.payload = \"Window should be opened! Time for outdoor activities!\";\n}\nelse{\n    msg.payload = \"Nothing special!\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":500,"wires":[["17372655.a5aa0a"]]},{"id":"17372655.a5aa0a","type":"ui_text","z":"8796837d.b2a23","group":"aab3a43d.504358","order":0,"width":0,"height":0,"name":"","label":"HUOM","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":500,"wires":[]},{"id":"66ca5a98.ad2fb4","type":"mqtt out","z":"8796837d.b2a23","name":"","topic":"curtaincontrol","qos":"0","retain":"","broker":"2d9c5fda.a664b","x":840,"y":100,"wires":[]},{"id":"578f011f.65b14","type":"mqtt in","z":"8796837d.b2a23","name":"","topic":"curtainreceive","qos":"0","datatype":"auto","broker":"2d9c5fda.a664b","x":110,"y":500,"wires":[["e3aed50d.61a728","e407799f.1d5028","9d72a6e4.b3b658"]]},{"id":"d92903cd.9449f","type":"change","z":"8796837d.b2a23","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":360,"wires":[["deb4ff9a.89823"]]},{"id":"f839c24c.a7c63","type":"ui_button","z":"8796837d.b2a23","name":"","group":"8a4d6729.c27608","order":6,"width":0,"height":0,"passthru":true,"label":"Reset eeprom","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":1000,"wires":[["5d2993ba.c6c93c"]]},{"id":"ce23e28a.e5df6","type":"inject","z":"8796837d.b2a23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1000,"wires":[["f839c24c.a7c63"]]},{"id":"5d2993ba.c6c93c","type":"function","z":"8796837d.b2a23","name":"","func":"msg.payload = 3;\n//global.set(\"condition\",6);\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1000,"wires":[["e5a1d9da.edd948"]]},{"id":"e5a1d9da.edd948","type":"mqtt out","z":"8796837d.b2a23","name":"","topic":"curtaincontrol","qos":"0","retain":"","broker":"2d9c5fda.a664b","x":680,"y":1000,"wires":[]},{"id":"bdf2f5c1.7a31e8","type":"inject","z":"8796837d.b2a23","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1080,"wires":[["614caa13.d9fa04"]]},{"id":"614caa13.d9fa04","type":"ui_button","z":"8796837d.b2a23","name":"","group":"13938e5c.339d92","order":3,"width":0,"height":0,"passthru":true,"label":"Update","tooltip":"","color":"","bgcolor":"#87A980","icon":"update","payload":"","payloadType":"str","topic":"","x":310,"y":1080,"wires":[["b8e002a3.91fba"]]},{"id":"b8e002a3.91fba","type":"serial request","z":"8796837d.b2a23","name":"Arduinolle","serial":"fb02651f.5031a8","x":490,"y":1080,"wires":[[]]},{"id":"f1c81d12.0328a","type":"serial in","z":"8796837d.b2a23","name":"Arduinolta","serial":"fb02651f.5031a8","x":120,"y":1140,"wires":[["560270f6.38078"]]},{"id":"560270f6.38078","type":"ui_gauge","z":"8796837d.b2a23","name":"","group":"13938e5c.339d92","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":280,"y":1140,"wires":[]},{"id":"8a4d6729.c27608","type":"ui_group","z":"","name":"Controller","tab":"e619fb66.ef9268","order":1,"disp":true,"width":"6","collapse":false},{"id":"f55dc025.59ae1","type":"ui_group","z":"","name":"Malfunction Simulation","tab":"e619fb66.ef9268","order":2,"disp":true,"width":"6","collapse":false},{"id":"535637b9.831418","type":"ui_group","z":"","name":"Outdoor","tab":"5360c2dd.43b26c","order":1,"disp":true,"width":"6","collapse":false},{"id":"aab3a43d.504358","type":"ui_group","z":"","name":"Recommendation","tab":"5360c2dd.43b26c","order":2,"disp":true,"width":"6","collapse":false},{"id":"2d9c5fda.a664b","type":"mqtt-broker","z":"","name":"manager","broker":"192.168.43.40","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"13938e5c.339d92","type":"ui_group","z":"","name":"Indoor","tab":"5360c2dd.43b26c","order":3,"disp":true,"width":"6","collapse":false},{"id":"fb02651f.5031a8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e619fb66.ef9268","type":"ui_tab","z":"","name":"Curtain","icon":"dashboard","disabled":false,"hidden":false},{"id":"5360c2dd.43b26c","type":"ui_tab","z":"","name":"Weather Info","icon":"dashboard","order":2,"disabled":false,"hidden":false}]


