Node red
[{"id":"a3dbaf5d.6034a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8c55355.aa9cdc8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2b7be3af.aad51c","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"39156ab4.6e09a6","type":"ui_group","z":"","name":"Controller","tab":"86a5fba4.09a1f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"cd450a6e.cd8ab8","type":"ui_group","z":"","name":"Malfunction Simulation","tab":"86a5fba4.09a1f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c89b2279.cdd65","type":"ui_group","z":"","name":"Outdoor","tab":"f30b4e4c.d3c99","order":1,"disp":true,"width":"6","collapse":false},{"id":"aee36356.cbafd","type":"ui_group","z":"","name":"Recommendation","tab":"f30b4e4c.d3c99","order":2,"disp":true,"width":"6","collapse":false},{"id":"d354a16a.8652","type":"mqtt-broker","z":"","name":"manager","broker":"192.168.1.72","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4a046f3.2ad3f9","type":"ui_group","z":"","name":"Indoor","tab":"f30b4e4c.d3c99","order":3,"disp":true,"width":"6","collapse":false},{"id":"53cdb509.1ea51c","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"86a5fba4.09a1f8","type":"ui_tab","z":"","name":"Curtain","icon":"dashboard","disabled":false,"hidden":false},{"id":"f30b4e4c.d3c99","type":"ui_tab","z":"","name":"Weather Info","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2f34717c.013dde","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#ff8000","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Arial,Arial,Helvetica,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#004000","edited":true},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e465f56c.504988","type":"ngrokauth","z":""},{"id":"4dd5ae71.a86d3","type":"inject","z":"a3dbaf5d.6034a","name":"every 10m","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["88ae1c7b.dd05d","79ca518e.b0134"]]},{"id":"79ca518e.b0134","type":"http request","z":"a3dbaf5d.6034a","name":"OpenWeather ","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/weather?q=Valkeakoski,fi&units=metric&appid=51da5856a3cb31c11445454beb6679fe","tls":"","proxy":"","authType":"","x":360,"y":180,"wires":[["1eb7bb1f.092205","62c756c.1c81fa8","76f473ee.24663c","d4271fc.39e0be","e0d5d03e.e1918"]]},{"id":"eda61bb3.865698","type":"debug","z":"a3dbaf5d.6034a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":180,"wires":[]},{"id":"783adfd9.3584f","type":"change","z":"a3dbaf5d.6034a","name":"","rules":[{"t":"set","p":"this_time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":60,"wires":[["9d719a12.3cb7b8"]]},{"id":"9d719a12.3cb7b8","type":"debug","z":"a3dbaf5d.6034a","name":"Record current time every min","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":60,"wires":[]},{"id":"36eddda8.16e7f2","type":"inject","z":"a3dbaf5d.6034a","name":"Every 1m","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["783adfd9.3584f"]]},{"id":"cc940ace.439d68","type":"function","z":"a3dbaf5d.6034a","name":"Set global mem = 0 indicating Auto mode","func":"global.set(\"mem\",0);\nmsg.payload = global.get(\"mem\");\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":280,"wires":[["94b9b7fe.ee5ad8"]]},{"id":"9b90c0c4.37448","type":"inject","z":"a3dbaf5d.6034a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["aa77a1fb.3c09"]]},{"id":"aa77a1fb.3c09","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"39156ab4.6e09a6","order":4,"width":0,"height":0,"passthru":true,"label":"Auto","tooltip":"","color":"","bgcolor":"","icon":"update","payload":"","payloadType":"date","topic":"","x":250,"y":280,"wires":[["79ca518e.b0134","cc940ace.439d68","88ae1c7b.dd05d","1c2deba3.047eb4"]]},{"id":"a78ddf2d.2dbfb","type":"ui_text","z":"a3dbaf5d.6034a","group":"39156ab4.6e09a6","order":1,"width":0,"height":0,"name":"","label":"Curtain state","format":"{{msg.payload}}","layout":"row-spread","x":110,"y":440,"wires":[]},{"id":"ec6e65c3.3bcd18","type":"inject","z":"a3dbaf5d.6034a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["a6e861da.71159"]]},{"id":"a6e861da.71159","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"39156ab4.6e09a6","order":5,"width":0,"height":0,"passthru":true,"label":"Manual","tooltip":"","color":"","bgcolor":"","icon":"touch_app","payload":"","payloadType":"str","topic":"","x":270,"y":340,"wires":[["33c1294.712bad6","79ca518e.b0134","88ae1c7b.dd05d","1c2deba3.047eb4"]]},{"id":"33c1294.712bad6","type":"function","z":"a3dbaf5d.6034a","name":"set mem = 1(indicating manual mode), invert signal","func":"global.set(\"mem\",1);\nvar num = global.get(\"signal\");\nnum = -num;\nglobal.set(\"signal\",num);\nmsg.payload = global.get(\"mem\");\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["e6ca6ba7.d63208","94b9b7fe.ee5ad8"]]},{"id":"a55b4601.7973f8","type":"debug","z":"a3dbaf5d.6034a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":500,"wires":[]},{"id":"34ff5925.fbbdf6","type":"function","z":"a3dbaf5d.6034a","name":"send signal every 5 counts if no signal received from arduino","func":"var current = global.get(\"co\");\n\nif (current - global.get(\"previous\") >= global.get(\"interval\")){\n    global.set(\"previous\",current);\n    if (global.get(\"send\") === 1){\n          msg.payload = global.get(\"condition\");\n          return msg;\n    }\n    else{\n        return null;\n    }\n}\n\nelse{\n    return null;\n}\n    \nreturn null;","outputs":1,"noerr":0,"x":480,"y":540,"wires":[["7d08b364.371b3c","d3da4fdf.51e2e"]]},{"id":"1eb7bb1f.092205","type":"function","z":"a3dbaf5d.6034a","name":"Control signal to Arduino","func":"var srise = msg.payload.sys.sunrise;\nvar sset = msg.payload.sys.sunset;\nvar current =flow.get(\"this_time\")/1000;//current time\nmsg.payload.time = current;\nvar memu = global.get(\"mem\");\n// Open 1\nif (current >= srise && current <= sset && memu === 0){\n    msg.payload = 1;\n    global.set(\"signal\",1);//Initially set here so that the curtain knows to open or close when it is set to manual mode\n    global.set(\"condition\",1);\n    //msg.signal = global.get(\"signal\");\n    //msg.condition = global.get(\"condition\");\n}\n// Close 1\nelse if (global.get(\"signal\") === -1 && memu === 1){\n    msg.payload = 2;\n    global.set(\"condition\",2);\n}\n//Close 2\nelse if ((current < srise || current > sset) && memu === 0){\n    msg.payload = 2;\n    global.set(\"signal\",-1);\n    global.set(\"condition\",2);\n}\n//Open 2\nelse if (global.get(\"signal\") === 1 && memu === 1){\n    msg.payload = 1;\n    global.set(\"condition\",1);\n}\n//DO nothing\nelse{\n    msg.payload = 0;\n    global.set(\"condition\",0);\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["eda61bb3.865698","d3da4fdf.51e2e"]]},{"id":"e6ca6ba7.d63208","type":"debug","z":"a3dbaf5d.6034a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":400,"wires":[]},{"id":"53c2c33e.03315c","type":"inject","z":"a3dbaf5d.6034a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":400,"wires":[["d8e56cdc.02583"]]},{"id":"d8e56cdc.02583","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"39156ab4.6e09a6","order":3,"width":0,"height":0,"passthru":true,"label":"Enable/Reset","tooltip":"","color":"","bgcolor":"#87A980","icon":"settings_backup_restore","payload":"","payloadType":"str","topic":"","x":290,"y":400,"wires":[["6df9f3ce.4e391c","79ca518e.b0134"]]},{"id":"6df9f3ce.4e391c","type":"function","z":"a3dbaf5d.6034a","name":"Mem = 2 (do nothing), reset send = 0","func":"global.set(\"mem\",2);\nglobal.set(\"send\",0);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["1c2deba3.047eb4"]]},{"id":"88ae1c7b.dd05d","type":"function","z":"a3dbaf5d.6034a","name":"send = 1","func":"global.set(\"send\",1);\n","outputs":1,"noerr":0,"x":520,"y":100,"wires":[[]]},{"id":"619d510a.33fb1","type":"inject","z":"a3dbaf5d.6034a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":680,"wires":[["8604fade.e98158"]]},{"id":"8604fade.e98158","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"cd450a6e.cd8ab8","order":3,"width":0,"height":0,"passthru":true,"label":"Enable/Reset","tooltip":"","color":"","bgcolor":"#87A980","icon":"settings_backup_restore","payload":"1","payloadType":"num","topic":"","x":260,"y":680,"wires":[["883586df.d08838"]]},{"id":"883586df.d08838","type":"function","z":"a3dbaf5d.6034a","name":"Initiate Interval, Previous time","func":"global.set(\"interval\",5);\nglobal.set(\"previous\",0);\nglobal.set(\"co\",-1);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":680,"wires":[["2241c182.9a1bbe"]]},{"id":"6aaa18c9.cc1dc8","type":"inject","z":"a3dbaf5d.6034a","name":"Every 5s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":620,"wires":[["34ff5925.fbbdf6","2241c182.9a1bbe"]]},{"id":"2241c182.9a1bbe","type":"function","z":"a3dbaf5d.6034a","name":"Counter(1 count = 5s) for send signal if not receiving from arduino","func":"var counter = global.get(\"co\");\ncounter = counter + 1;\nglobal.set(\"co\",counter);\nmsg.payload = counter;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":620,"wires":[["ee93054d.035de8"]]},{"id":"ee93054d.035de8","type":"ui_text","z":"a3dbaf5d.6034a","group":"cd450a6e.cd8ab8","order":1,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":620,"wires":[]},{"id":"7d08b364.371b3c","type":"debug","z":"a3dbaf5d.6034a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":540,"wires":[]},{"id":"26d07f6b.7030a","type":"function","z":"a3dbaf5d.6034a","name":"send = 0 (means receive signal from arduino)","func":"global.set(\"send\",0);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["1c2deba3.047eb4"]]},{"id":"724a8453.b280ec","type":"inject","z":"a3dbaf5d.6034a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["38e1bed9.bdfda2"]]},{"id":"38e1bed9.bdfda2","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"cd450a6e.cd8ab8","order":5,"width":0,"height":0,"passthru":true,"label":"Malfunction","tooltip":"","color":"","bgcolor":"#E9967A","icon":"error","payload":"","payloadType":"str","topic":"","x":270,"y":100,"wires":[["88ae1c7b.dd05d","1c2deba3.047eb4","8615ebe7.64c078"]]},{"id":"441ad61e.1f78b8","type":"inject","z":"a3dbaf5d.6034a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":720,"wires":[["50780059.b635e"]]},{"id":"50780059.b635e","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"cd450a6e.cd8ab8","order":6,"width":0,"height":0,"passthru":true,"label":"HEAL","tooltip":"","color":"","bgcolor":"#C0DEED","icon":"local_pharmacy","payload":"","payloadType":"str","topic":"","x":290,"y":720,"wires":[["9d45db12.b0c908","1c2deba3.047eb4"]]},{"id":"9d45db12.b0c908","type":"function","z":"a3dbaf5d.6034a","name":"Send = 0","func":"global.set(\"send\",0);","outputs":1,"noerr":0,"x":440,"y":720,"wires":[[]]},{"id":"1c2deba3.047eb4","type":"function","z":"a3dbaf5d.6034a","name":"Get Send value for displaying","func":"msg.payload = global.get(\"send\");\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":780,"wires":[["34d0061b.bb3bba"]]},{"id":"4505e8b9.7a5908","type":"inject","z":"a3dbaf5d.6034a","name":"Everyday at noon","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"x":130,"y":860,"wires":[["3d42d204.1f4b1e"]]},{"id":"79e9622b.c50cec","type":"http request","z":"a3dbaf5d.6034a","name":"OpenWeather","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/weather?q=Valkeakoski,fi&units=metric&appid=51da5856a3cb31c11445454beb6679fe","tls":"","proxy":"","authType":"","x":480,"y":860,"wires":[["eb7fe95f.bd7668","852e8ea6.a28f2","86cd8cd.72a397","38e9a21a.d6c6ae","838177a2.957768","734ccf0f.66c28","d4271fc.39e0be"]]},{"id":"3d42d204.1f4b1e","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"c89b2279.cdd65","order":7,"width":0,"height":0,"passthru":true,"label":"Update","tooltip":"","color":"","bgcolor":"#87A980","icon":"update","payload":"","payloadType":"str","topic":"","x":300,"y":860,"wires":[["79e9622b.c50cec"]]},{"id":"eb7fe95f.bd7668","type":"change","z":"a3dbaf5d.6034a","name":"name","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":860,"wires":[["1b44727d.3ec14e"]]},{"id":"852e8ea6.a28f2","type":"change","z":"a3dbaf5d.6034a","name":"sys.sunrise","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sys.sunrise","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":900,"wires":[["3d846f62.4f7ae"]]},{"id":"86cd8cd.72a397","type":"change","z":"a3dbaf5d.6034a","name":"sys.sunset","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sys.sunset","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":940,"wires":[["bc3709a.623a0f8"]]},{"id":"3d846f62.4f7ae","type":"function","z":"a3dbaf5d.6034a","name":"Convert mili sec (from 1971) to hh:mm:ss format","func":"var unix = msg.payload;\n\n// multiplied by 1000 so that the argument is in milliseconds, not seconds.\nvar date = new Date(unix*1000);\n\n// Hours part from the timestamp\nvar hours = date.getHours();\n\n// Minutes part from the timestamp\nvar minutes = \"0\" + date.getMinutes();\n\n// Seconds part from the timestamp\nvar seconds = \"0\" + date.getSeconds();\n\n// Will display time in hh:mm:ss format\nvar sunrise = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\nmsg.payload = sunrise;\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":900,"wires":[["7af1c29e.b7edcc"]]},{"id":"7af1c29e.b7edcc","type":"ui_text","z":"a3dbaf5d.6034a","group":"c89b2279.cdd65","order":2,"width":0,"height":0,"name":"","label":"Sunrise","format":"{{msg.payload}}","layout":"row-spread","x":1260,"y":900,"wires":[]},{"id":"bc3709a.623a0f8","type":"function","z":"a3dbaf5d.6034a","name":"Convert mili sec (from 1971) to hh:mm:ss format","func":"var unix = msg.payload;\n\n// multiplied by 1000 so that the argument is in milliseconds, not seconds.\nvar date = new Date(unix*1000);\n\n// Hours part from the timestamp\nvar hours = date.getHours();\n\n// Minutes part from the timestamp\nvar minutes = \"0\" + date.getMinutes();\n\n// Seconds part from the timestamp\nvar seconds = \"0\" + date.getSeconds();\n\n// Will display time in 10:30:23 format\nvar sunset = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\nmsg.payload = sunset;\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":940,"wires":[["2eaa12c0.02862e"]]},{"id":"2eaa12c0.02862e","type":"ui_text","z":"a3dbaf5d.6034a","group":"c89b2279.cdd65","order":3,"width":0,"height":0,"name":"","label":"Sunset","format":"{{msg.payload}}","layout":"row-spread","x":1250,"y":940,"wires":[]},{"id":"1b44727d.3ec14e","type":"ui_text","z":"a3dbaf5d.6034a","group":"c89b2279.cdd65","order":1,"width":0,"height":0,"name":"","label":"City","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":860,"wires":[]},{"id":"38e9a21a.d6c6ae","type":"change","z":"a3dbaf5d.6034a","name":"main.temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":740,"wires":[["6a648094.281dd"]]},{"id":"6a648094.281dd","type":"ui_gauge","z":"a3dbaf5d.6034a","name":"","group":"c89b2279.cdd65","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature ","label":"oC","format":"{{value}}","min":"-35","max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":740,"wires":[]},{"id":"838177a2.957768","type":"change","z":"a3dbaf5d.6034a","name":"main.humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":680,"wires":[["ba2968a7.dfad18"]]},{"id":"ba2968a7.dfad18","type":"ui_gauge","z":"a3dbaf5d.6034a","name":"","group":"c89b2279.cdd65","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":680,"wires":[]},{"id":"34d0061b.bb3bba","type":"ui_gauge","z":"a3dbaf5d.6034a","name":"","group":"cd450a6e.cd8ab8","order":2,"width":0,"height":0,"gtype":"gage","title":"Send","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":820,"wires":[]},{"id":"c0f1b49c.5048e8","type":"ui_chart","z":"a3dbaf5d.6034a","name":"","group":"c89b2279.cdd65","order":6,"width":0,"height":0,"label":"Wind speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":800,"wires":[[]]},{"id":"734ccf0f.66c28","type":"change","z":"a3dbaf5d.6034a","name":"wind.speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":800,"wires":[["c0f1b49c.5048e8"]]},{"id":"62c756c.1c81fa8","type":"change","z":"a3dbaf5d.6034a","name":"wind.speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":220,"wires":[["c0f1b49c.5048e8"]]},{"id":"8615ebe7.64c078","type":"function","z":"a3dbaf5d.6034a","name":"cond = 5 ","func":"global.set(\"condition\",5);\n","outputs":1,"noerr":0,"x":520,"y":140,"wires":[[]]},{"id":"76f473ee.24663c","type":"change","z":"a3dbaf5d.6034a","name":"main.temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":260,"wires":[["6a648094.281dd"]]},{"id":"d4271fc.39e0be","type":"function","z":"a3dbaf5d.6034a","name":"Recommendation based on weather info","func":"var temp = msg.payload.main.temp;\nvar wind = msg.payload.wind.speed;\nif (temp < 5 || (wind > 20 && temp < 10) || wind > 25){\n    msg.payload = \"Window should be closed!\";\n}  \nelse if (temp > 20){\n    msg.payload = \"Window should be opened! Time for outdoor activities!\";\n}\nelse{\n    msg.payload = \"Nothing special!\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":500,"wires":[["310afe96.4877b2"]]},{"id":"310afe96.4877b2","type":"ui_text","z":"a3dbaf5d.6034a","group":"aee36356.cbafd","order":0,"width":0,"height":0,"name":"","label":"HUOM","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":500,"wires":[]},{"id":"d3da4fdf.51e2e","type":"mqtt out","z":"a3dbaf5d.6034a","name":"","topic":"curtaincontrol","qos":"0","retain":"","broker":"d354a16a.8652","x":840,"y":100,"wires":[]},{"id":"2c6ed39e.4fb83c","type":"mqtt in","z":"a3dbaf5d.6034a","name":"","topic":"curtainreceive","qos":"0","datatype":"auto","broker":"d354a16a.8652","x":110,"y":500,"wires":[["a78ddf2d.2dbfb","26d07f6b.7030a","a55b4601.7973f8"]]},{"id":"e0d5d03e.e1918","type":"change","z":"a3dbaf5d.6034a","name":"main.humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":360,"wires":[["ba2968a7.dfad18"]]},{"id":"f852ce69.db048","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"39156ab4.6e09a6","order":6,"width":0,"height":0,"passthru":true,"label":"Reset eeprom","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":1000,"wires":[["f8ba4776.5ea928"]]},{"id":"bbc31946.cc53b8","type":"inject","z":"a3dbaf5d.6034a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1000,"wires":[["f852ce69.db048"]]},{"id":"f8ba4776.5ea928","type":"function","z":"a3dbaf5d.6034a","name":"Signal to reset arduino eeprom is 3","func":"msg.payload = 3;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1000,"wires":[["cd7d211c.3b403"]]},{"id":"cd7d211c.3b403","type":"mqtt out","z":"a3dbaf5d.6034a","name":"","topic":"curtaincontrol","qos":"0","retain":"","broker":"d354a16a.8652","x":880,"y":1000,"wires":[]},{"id":"a6215928.2629d8","type":"inject","z":"a3dbaf5d.6034a","name":"Every 2h send 1","topic":"","payload":"1","payloadType":"num","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1080,"wires":[["33c072b2.04bd9e"]]},{"id":"33c072b2.04bd9e","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"4a046f3.2ad3f9","order":2,"width":0,"height":0,"passthru":true,"label":"Update Temp ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":320,"y":1080,"wires":[["152b6f02.7ef161"]]},{"id":"152b6f02.7ef161","type":"serial request","z":"a3dbaf5d.6034a","name":"To Arduino","serial":"53cdb509.1ea51c","x":630,"y":1080,"wires":[[]]},{"id":"9c0e25f.4e184d8","type":"serial in","z":"a3dbaf5d.6034a","name":"From Arduino","serial":"53cdb509.1ea51c","x":110,"y":1280,"wires":[["69c5c9d3.f1a2b8","49245743.fd1e08"]]},{"id":"f55bade7.e91e9","type":"inject","z":"a3dbaf5d.6034a","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1120,"wires":[["db2f847e.f26798"]]},{"id":"db2f847e.f26798","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"4a046f3.2ad3f9","order":3,"width":0,"height":0,"passthru":true,"label":"Max","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":310,"y":1120,"wires":[["152b6f02.7ef161"]]},{"id":"df1f74c3.682438","type":"inject","z":"a3dbaf5d.6034a","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1160,"wires":[["a5285ec2.0c90f"]]},{"id":"a5285ec2.0c90f","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"4a046f3.2ad3f9","order":4,"width":0,"height":0,"passthru":true,"label":"Min","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":310,"y":1160,"wires":[["152b6f02.7ef161"]]},{"id":"9725a349.ea59d","type":"inject","z":"a3dbaf5d.6034a","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1200,"wires":[["8a32bff9.d2c36"]]},{"id":"8a32bff9.d2c36","type":"ui_button","z":"a3dbaf5d.6034a","name":"","group":"4a046f3.2ad3f9","order":5,"width":0,"height":0,"passthru":true,"label":"Reset MaxMin","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":340,"y":1200,"wires":[["152b6f02.7ef161"]]},{"id":"69c5c9d3.f1a2b8","type":"function","z":"a3dbaf5d.6034a","name":"Push button signal","func":"if (msg.payload != 10){\n    return null;\n}\nelse\n    return msg;\n    ","outputs":1,"noerr":0,"x":350,"y":1280,"wires":[["a6e861da.71159","fffa4fbf.1b53b"]]},{"id":"49245743.fd1e08","type":"function","z":"a3dbaf5d.6034a","name":"TC74 signal","func":"if (msg.payload == 10){\n    return null;\n}\nelse\n    return msg;","outputs":1,"noerr":0,"x":340,"y":1340,"wires":[["3b53606.b2464a"]]},{"id":"3b53606.b2464a","type":"ui_text","z":"a3dbaf5d.6034a","group":"4a046f3.2ad3f9","order":1,"width":0,"height":0,"name":"","label":"Temp","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":1340,"wires":[]},{"id":"94b9b7fe.ee5ad8","type":"ui_gauge","z":"a3dbaf5d.6034a","name":"","group":"39156ab4.6e09a6","order":2,"width":0,"height":0,"gtype":"gage","title":"Manual","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":300,"wires":[]},{"id":"fffa4fbf.1b53b","type":"debug","z":"a3dbaf5d.6034a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":1280,"wires":[]},{"id":"102ce29a.26a32d","type":"ngrok","z":"8c55355.aa9cdc8","port":"","creds":"e465f56c.504988","subdomain":"","name":"","x":380,"y":140,"wires":[["7a24ea97.7bdf64"]]},{"id":"1c2be985.61bb26","type":"inject","z":"8c55355.aa9cdc8","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["102ce29a.26a32d"]]},{"id":"eeacfa79.8f2db8","type":"inject","z":"8c55355.aa9cdc8","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["102ce29a.26a32d"]]},{"id":"7a24ea97.7bdf64","type":"debug","z":"8c55355.aa9cdc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":140,"wires":[]},{"id":"85943318.4bc1f","type":"inject","z":"2b7be3af.aad51c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["32673c3c.0c4eb4"]]},{"id":"6e93e692.d663d8","type":"inject","z":"2b7be3af.aad51c","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["32673c3c.0c4eb4"]]},{"id":"32673c3c.0c4eb4","type":"serial out","z":"2b7be3af.aad51c","name":"","serial":"53cdb509.1ea51c","x":400,"y":100,"wires":[]},{"id":"6cdb4eb.cbc8db","type":"serial in","z":"2b7be3af.aad51c","name":"","serial":"53cdb509.1ea51c","x":180,"y":240,"wires":[["f1d7ee23.208b4"]]},{"id":"f1d7ee23.208b4","type":"debug","z":"2b7be3af.aad51c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":200,"wires":[]}]
